# Spend and Rev Working File

* In this notebook I'm going to use the Spending_and_Revenue csv file to help me create my schemas for the lookup tables I want to add to my database.

* I want to create an Organization Group lookup table and a Department lookup table in the CCSF database. To do so I first need to find all the unique values in those columns so I can build their tables later.

In [178]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15, 5)

In [179]:
spend_and_rev = pd.read_csv('../Spending_And_Revenue.csv')

In [180]:
spend_and_rev[:3]

,Fiscal Year,Revenue or Spending,Organization Group Code,Organization Group,Department Code,Department,Program Code,Program,Character Code,Character,Object Code,Object,Sub-object Code,Sub-object,Fund Type Code,Fund Type,Amount
0,2016,Spending,2,"Public Works, Transportation & Commerce",DPW,General Services Agency - Public Works,BAM,Architecture,013,Mandatory Fringe Benefits,017,Unemployment Insurance,01701,Unemployment Insurance,2S,Special Revenue Funds,9919.50
1,2016,Revenue,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,BE0,"Revenue, Transfers & Reserves",200,"Licenses, Permits & Franchises",202,Other Business/Professional Licenses,20231,Taxi Medallion Sales,5O,MTA Taxi Commission,1861428.24
2,2014,Spending,2,"Public Works, Transportation & Commerce",WTR,PUC Water Department,BDL,Water Pumping,040,Materials & Supplies,049,Other Materials & Supplies,04951,Other Office Supplies,5W,PUC Water Department Funds,294.13

## Changing Column Names

#### After some experimenting I discovered that spaces in the column names do not play nicely with pandas unique function

In [181]:
spend_and_rev = spend_and_rev.rename(columns={'Organization Group Code': 'OrgGroupID', 'Organization Group': 'OrgGroup', 
                                              'Department Code': 'DeptID', 'Department': 'Dept'})
spend_and_rev[:3]

,Fiscal Year,Revenue or Spending,OrgGroupID,OrgGroup,DeptID,Dept,Program Code,Program,Character Code,Character,Object Code,Object,Sub-object Code,Sub-object,Fund Type Code,Fund Type,Amount
0,2016,Spending,2,"Public Works, Transportation & Commerce",DPW,General Services Agency - Public Works,BAM,Architecture,013,Mandatory Fringe Benefits,017,Unemployment Insurance,01701,Unemployment Insurance,2S,Special Revenue Funds,9919.50
1,2016,Revenue,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,BE0,"Revenue, Transfers & Reserves",200,"Licenses, Permits & Franchises",202,Other Business/Professional Licenses,20231,Taxi Medallion Sales,5O,MTA Taxi Commission,1861428.24
2,2014,Spending,2,"Public Works, Transportation & Commerce",WTR,PUC Water Department,BDL,Water Pumping,040,Materials & Supplies,049,Other Materials & Supplies,04951,Other Office Supplies,5W,PUC Water Department Funds,294.13

## Delete Unused Columns

#### Theres a number of columns that Im not going to use so Im just going to delete them.

In [182]:
del spend_and_rev['Program Code']

In [183]:
del spend_and_rev['Program']

In [184]:
del spend_and_rev['Character Code']

In [185]:
del spend_and_rev['Character']

In [186]:
del spend_and_rev['Object Code']

In [187]:
del spend_and_rev['Object']

In [188]:
del spend_and_rev['Sub-object Code']

In [189]:
del spend_and_rev['Sub-object']

In [190]:
del spend_and_rev['Fund Type Code']

In [191]:
del spend_and_rev['Fund Type']

In [192]:
# check dataframe 
spend_and_rev[:3]

,Fiscal Year,Revenue or Spending,OrgGroupID,OrgGroup,DeptID,Dept,Amount
0,2016,Spending,2,"Public Works, Transportation & Commerce",DPW,General Services Agency - Public Works,9919.50
1,2016,Revenue,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,1861428.24
2,2014,Spending,2,"Public Works, Transportation & Commerce",WTR,PUC Water Department,294.13

## OrgGroupID & OrgGroup Unique Values

In [193]:
OrgGroupID = pd.unique(spend_and_rev.OrgGroupID.ravel())
OrgGroupID

array([2, 1, 3, 7, 6, 5, 4])

In [194]:
OrgGroup = pd.unique(spend_and_rev.OrgGroup.ravel())
OrgGroup

array(['Public Works, Transportation & Commerce', 'Public Protection',
       'Human Welfare & Neighborhood Development',
       'General City Responsibilities', 'General Administration & Finance',
       'Culture & Recreation', 'Community Health'], dtype=object)

In [195]:
# Create a list of tuples of unique values
# each tuple contains (orgGroupID, orgGroup)
orgExport = []

len(orgGroupID)
iterator = 0


while iterator < len(orgGroupID):
    my_tuple = (orgGroupID[iterator], orgGroup[iterator])
    orgExport.append(my_tuple)
    iterator += 1
orgExport.sort()
orgExport

[(1, 'Public Protection'),
 (2, 'Public Works, Transportation & Commerce'),
 (3, 'Human Welfare & Neighborhood Development'),
 (4, 'Community Health'),
 (5, 'Culture & Recreation'),
 (6, 'General Administration & Finance'),
 (7, 'General City Responsibilities')]

## DeptID & Dept

#### After checking the dataset I noticed that more then one DeptID can refer to a single Dept.

In [196]:
# Concatenate DeptId and Dept into a single column
spend_and_rev["DepCon"] = spend_and_rev["DeptID"].map(str) + ", " + spend_and_rev["Dept"]
spend_and_rev[:3]

,Fiscal Year,Revenue or Spending,OrgGroupID,OrgGroup,DeptID,Dept,Amount,DepCon
0,2016,Spending,2,"Public Works, Transportation & Commerce",DPW,General Services Agency - Public Works,9919.50,"DPW, General Services Agency - Public Works"
1,2016,Revenue,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,1861428.24,"MTA, Municipal Transportation Agency"
2,2014,Spending,2,"Public Works, Transportation & Commerce",WTR,PUC Water Department,294.13,"WTR, PUC Water Department"

In [197]:
# Grab all the unique values in the column
DepCon = pd.unique(spend_and_rev.DepCon.ravel())
DepCon.sort()
DepCon[:3]

array(['AAM, Asian Art Museum',
       'ADM, General Services Agency - City Admin', 'ADP, Adult Probation'], dtype=object)

In [198]:
# Create a list of tuples of unique values
# each tuple contains (DeptID, Dept)
deptExport = []

len(DepCon)
iterator = 0


while iterator < len(DepCon):
    my_tuple = (DepCon[iterator][0:3], DepCon[iterator][5:len(DepCon[iterator])])
    deptExport.append(my_tuple)
    iterator += 1
deptExport.sort()
deptExport[:3]

[('AAM', 'Asian Art Museum'),
 ('ADM', 'General Services Agency - City Admin'),
 ('ADP', 'Adult Probation')]

## Character Code

In [92]:
spend_and_rev = spend_and_rev.rename(columns={'Character Code': 'CharacterID', 'Character': 'Character'})

In [97]:
spend_and_rev[:3]

,Fiscal Year,Revenue or Spending,OrgGroupID,OrgGroup,DeptID,Dept,ProgramID,Program,CharacterID,Character,Object Code,Object,Sub-object Code,Sub-object,Fund Type Code,Fund Type,Amount
0,2016,Spending,2,"Public Works, Transportation & Commerce",DPW,General Services Agency - Public Works,BAM,Architecture,013,Mandatory Fringe Benefits,017,Unemployment Insurance,01701,Unemployment Insurance,2S,Special Revenue Funds,9919.50
1,2016,Revenue,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,BE0,"Revenue, Transfers & Reserves",200,"Licenses, Permits & Franchises",202,Other Business/Professional Licenses,20231,Taxi Medallion Sales,5O,MTA Taxi Commission,1861428.24
2,2014,Spending,2,"Public Works, Transportation & Commerce",WTR,PUC Water Department,BDL,Water Pumping,040,Materials & Supplies,049,Other Materials & Supplies,04951,Other Office Supplies,5W,PUC Water Department Funds,294.13

In [101]:
del spend_and_rev['Object Code']

In [102]:
del spend_and_rev['Object']

In [103]:
del spend_and_rev['Sub-object Code']

In [104]:
del spend_and_rev['Sub-object']

In [105]:
del spend_and_rev['Fund Type Code']

In [106]:
del spend_and_rev['Fund Type']

In [163]:
spend_and_rev[:3]

,Fiscal Year,Revenue or Spending,OrgGroupID,OrgGroup,DeptID,Dept,ProgramID,Program,Amount,DepCon
0,2016,Spending,2,"Public Works, Transportation & Commerce",DPW,General Services Agency - Public Works,BAM,Architecture,9919.50,"DPW, General Services Agency - Public Works"
1,2016,Revenue,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,BE0,"Revenue, Transfers & Reserves",1861428.24,"MTA, Municipal Transportation Agency"
2,2014,Spending,2,"Public Works, Transportation & Commerce",WTR,PUC Water Department,BDL,Water Pumping,294.13,"WTR, PUC Water Department"

## Delete OrgGroup, Dept, and DepCon

#### Since Im creating OrgGroup and Dept tables in my database I dont need these columns in Spend_and_Rev table. DepCon is a temp column so I can get rid of that as well.

In [199]:
del spend_and_rev['DepCon']

In [200]:
del spend_and_rev['OrgGroup']

In [201]:
del spend_and_rev['Dept']

In [203]:
spend_and_rev[:3]

   Fiscal Year Revenue or Spending  OrgGroupID DeptID      Amount
0         2016            Spending           2    DPW     9919.50
1         2016             Revenue           2    MTA  1861428.24
2         2014            Spending           2    WTR      294.13

## Save to CSV

#### The spending and revenue table is ready, next I'll save it as a csv.

In [204]:
spend_and_rev.to_csv('Spend_And_Rev.csv')